# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Config personali
.env
brytonsync_settings.json
download/
downloads/
planned_workouts/
logs/
build/
dist/

# FIT files
downloads/
*.fit

# Build Android
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini

# APK locali
*.apk
*.pyc

#cache
__pycache__/
